<!DOCTYPE html>
<html>
    <head>
        <title>Shurty - another URL shortener</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1>Shurty</h1>
        <p>Welcome to shurty</p>
        <div>
            <form method="get" action="/input">
                <label for="url">URL:</label><br>
                <input type="text" id="url" name="url"><br>
                <input type="submit" value="Short this !">
            </form>
        </div>
    </body>
</html>
